body {
  text-align: left;
  padding: 50px;
  background-color: #eee9e1;
  font: 20px Helvetica, sans-serif;
  color: #2b6871;
}

#logo{display: inline-block;}

.version{
  font-style: italic;
  font-size: 12px;
}

.info{
  font-size: 10px;
  font-style: italic;
  color: #a9875a;
}

.txt{
    font-size: 15px;
}

h1 {
  font-size: 45px;
  display: inline-block;
  position: relative;
  top: -46px;
}

article { display: block; text-align: left; width: 650px; }

a { color: #dc8100; text-decoration: none; }

a:hover { color: #333; text-decoration: none; }
